@model ConverterViewModel

<h1>Results</h1>

<p>

   You chose to convert <strong> @Model.ValueToConvert </strong> 
   @Model.ConversionType which is 
   @Model.ConvertedValue <br>
    <br>

    <a href="/Conversion/Converter">I want to convert something else now...</a>
</p>